:root {
  --background: #FFFFFF;
  --secondary-color: #1A202C;
}

@media(max-width: 1080px){
  html{
    font-size: 93.75%; /*15px*/
  }
}

@media(max-width: 720px){
  html{
    font-size: 87.5%; /*14px*/
  }
}

button{
  cursor: pointer;
}

body, input, textarea, button {
  font-family: 'Lato', sans-serif;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased; /*fonts nitidas no navegador chrome e derivados*/
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center; 
}

.banner {
  background: #F7FAFC;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.banner__image{
  width: 400px;
  height: 330px;
  margin: 0 auto;
  padding: 0 15px;
}

.contents {
  max-width: 370px;
  margin: 0 auto;
  padding: 0 15px;
}

.contents__header{
  font-family: 'Merriweather', serif;
  margin-bottom: 40px;
}

.contents__header-title{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.contents__header-subtitle {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}

.contents__form{
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.contents__form-label{
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary-color);
}

.contents__form-input{
  padding: 16px 20px;
  border-radius: 5px;
  border: 1px solid #E8E8E8;
}

.contents__form-label,
.contents__form-input {
  margin-bottom: 11px;
}

.contents__form-label.footer{
  margin-bottom: 0;
  margin-left: 11px;
}

.contents__form-footer{
  margin: 28px 0;
  display: flex;
  justify-content: space-between;
}

.contents__form-footer-section{
  display: flex;
  align-items: center;
}

.contents__form-footer-section-button,
.contents__footer-button {
  font-weight: 400;
  font-size: 0.87rem;
  text-decoration: none;
  color: #2B6CB0;
}

.contents__footer-button{
  margin-left: 5px;
}

.contents__form-footer-section-button:hover,
.contents__footer-button:hover {
  text-decoration: underline;
  transition: 0.3ms;
}

.contents__form-button-submit {
  height: 50px;
  width: 100%;

  background: #04C45C;
  color: #FFFFFF;
  border-radius: 5px;
  transition: 0.3ms;
}

.contents__form-button-submit:hover{
  transition: 0.3ms;
  filter: brightness(1.2);
}

.contents__form-button-submit.google{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--secondary-color);
}

.contents__form-button-submit-icon{
  margin-right: 11px;
}

.contents__footer{
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.contents__footer-text{
  margin: 50px auto;
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 400;
}

@media(max-width: 810px){
  main {
    grid-template-columns: 0.3fr 1fr;
  }

  .banner__image{
    width: 200px;
    height: 130px;
    padding: 0 15px;
  }
}

@media(max-width: 610px){
  main{
    display: flex;
    justify-content: center;
  }
  .banner{
    display: none;
  }
}